.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination li{
    margin: 0 5px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.pagination a:hover{
    background-color: rgb(188, 178, 178);
    transition: 0.5s all ease;
}

.pagination li.activerPagination{
    background: rgb(156, 147, 147);
    border-radius: 5px;
}

.active-button{
    color: blue;
}